.login-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  max-width: 500px;
  min-width: 250px;
  width: 100%;
  margin: 0 auto;
  &-field-container {
    width: 100%;
    padding: 1rem;
    .form-field {
      width: 100%;
    }
  }
  &-submit-button {
    width: 100%;
  }
}
