<div class="products-list-controls">
  <div class="products-list-controls-view">
    <button
      mat-fab
      class="products-list-controls-view-button"
      (click)="handleGridViewChange()"
    >
      <span class="material-icons" *ngIf="gridView">view_agenda</span>
      <span class="material-icons" *ngIf="!gridView">grid_view</span>
    </button>
  </div>

  <div class="products-list-controls-pagination">
    <button
      mat-button
      class="products-list-controls-pagination-button"
      [disabled]="currentPage === 1"
      (click)="handleCurrentPageChange('start')"
    >
      <span class="material-icons">first_page</span>
    </button>
    <button
      mat-button
      class="products-list-controls-pagination-button"
      [disabled]="currentPage === 1"
      (click)="handleCurrentPageChange('previous')"
    >
      <span class="material-icons">navigate_before</span>
    </button>
    <button
      mat-raised-button
      *ngFor="let page of pagesToRender"
      class="products-list-controls-pagination-button"
      [disabled]="currentPage === page + 1"
      (click)="handleCurrentPageChange(page)"
    >
      {{ page + 1 }}
    </button>
    <button
      mat-button
      class="products-list-controls-pagination-button"
      [disabled]="currentPage === totalPages.length"
      (click)="handleCurrentPageChange('next')"
    >
      <span class="material-icons">navigate_next</span>
    </button>
    <button
      mat-button
      class="products-list-controls-pagination-button"
      [disabled]="currentPage === totalPages.length"
      (click)="handleCurrentPageChange('end')"
    >
      <span class="material-icons">last_page</span>
    </button>
  </div>
</div>
