.products-list-controls {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
  &-view {
    margin-bottom: 1rem;
  }
  &-pagination {
    display: flex;
    &-button {
      &.page-button {
        &:not(:last-child) {
          border-top-right-radius: 0px;
          border-bottom-right-radius: 0px;
        }
        + .page-button {
          border-top-left-radius: 0px;
          border-bottom-left-radius: 0px;
        }
      }
    }
  }
}
