<ng-container *ngIf="userInterfaceState$ | async as userInterfaceState">
  <div id="sidenav-controls" class="sidenav-controls">
    <button
      mat-button
      *ngIf="!userInterfaceState.sidenavOpened"
      (click)="handleOpeningSidenav()"
    >
      <span class="material-icons">menu</span>
    </button>
    <button
      mat-button
      *ngIf="userInterfaceState.sidenavOpened"
      (click)="handleClosingSidenav()"
    >
      <span class="material-icons">close</span>
    </button>
  </div>
</ng-container>
