<ng-container *ngIf="vm$ | async as vm"
  ><div
    id="product-list"
    class="product-list"
    [ngClass]="vm.paginationControls.gridView ? 'grid-view' : ''"
  >
    <app-products-list-controls
      [filteredProducts]="vm.filteredProducts"
      [gridView]="vm.paginationControls.gridView"
      [itemsPerPage]="vm.paginationControls.itemsPerPage"
      [currentPage]="vm.paginationControls.currentPage"
      (gridViewChange)="toggleGridView()"
      (currentPageChange)="changeCurrentPage($event)"
    ></app-products-list-controls>
    <app-products-list-items
      [products]="vm.filteredProducts"
      [itemsPerPage]="vm.paginationControls.itemsPerPage"
      [currentPage]="vm.paginationControls.currentPage"
    ></app-products-list-items>
    <app-products-list-controls
      [filteredProducts]="vm.filteredProducts"
      [gridView]="vm.paginationControls.gridView"
      [itemsPerPage]="vm.paginationControls.itemsPerPage"
      [currentPage]="vm.paginationControls.currentPage"
      (gridViewChange)="toggleGridView()"
      (currentPageChange)="changeCurrentPage($event)"
    ></app-products-list-controls>
  </div>
</ng-container>
