<ng-container *ngIf="userInterfaceState$ | async as userInterfaceState">
  <div id="app" class="app">
    <app-sidenav *ngIf="userInterfaceState.sidenavOpened"></app-sidenav>
    <app-sidenav-controls></app-sidenav-controls>
    <app-page>
      <router-outlet></router-outlet>
    </app-page>
    <app-overlay
      *ngIf="userInterfaceState.sidenavOpened"
      (click)="handleClosingSidenav()"
    ></app-overlay>
    <app-loader *ngIf="userInterfaceState.loading"></app-loader>
  </div>
</ng-container>
