<div id="sidenav" class="sidenav">
  <ul class="sidenav-menu">
    <ng-container *ngIf="authenticationState$ | async as authenticationState">
      <li class="sidenav-menu-item" *ngIf="!authenticationState.username">
        <button
          mat-button
          class="sidenav-menu-item-link"
          routerLink="authentication/login"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          Login
        </button>
      </li>

      <li class="sidenav-menu-item" *ngIf="authenticationState.username">
        <button
          mat-button
          class="sidenav-menu-item-link"
          routerLink="products"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          Products
        </button>
      </li>

      <li class="sidenav-menu-item" *ngIf="authenticationState.username">
        <button
          mat-button
          class="sidenav-menu-item-link"
          routerLink="products/stats"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          Stats
        </button>
      </li>

      <li class="sidenav-menu-item" *ngIf="authenticationState.username">
        <button mat-raised-button color="warn" (click)="handleLogout()">
          Logout
        </button>
      </li>
    </ng-container>
  </ul>
</div>
